body{
    background-color: black;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 442px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
